<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="SWGEmu_Core3_Plugin"
            name="%category.name">
      </category>
      <wizard
            category="SWGEmu_Core3_Plugin"
            class="org.swgemu.core3.plugin.wizards.ManagedObjectWizard"
            icon="icons/sample.gif"
            id="swgemu.core3.plugin.wizards.ManagedObjectWizard"
            name="%wizard.name.0">
      </wizard>
      <wizard
            category="SWGEmu_Core3_Plugin"
            class="org.swgemu.core3.plugin.wizards.ManagerNewWizard"
            icon="icons/sample.gif"
            id="swgemu.core3.plugin.wizards.ManagerNewWizard"
            name="%wizard.name.1">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.swgemu.core3.plugin.preferences.SWGEmuPreferencesPage"
            id="swgemu_core3_plugin.preferences.SWGEmuPreferencesPage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.swgemu.core3.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="SWGEmu_Core3_ManagedObject_Plugin.contribution1"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.idl">
         <menu
               id="SWGEmu_Core3_ManagedObject_Plugin.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.swgemu.core3.popup.actions.BuildIDLFile"
               enablesFor="1"
               id="SWGEmu_Core3_ManagedObject_Plugin.newAction"
               label="%action.label.1"
               menubarPath="SWGEmu_Core3_ManagedObject_Plugin.menu1/group1">
         </action>
         <action
               class="org.swgemu.core3.popup.actions.BuildAllIDLFiles"
               enablesFor="1"
               id="SWGEmu_Core3_ManagedObject_Plugin.newAction2"
               label="%action.label.0"
               menubarPath="SWGEmu_Core3_ManagedObject_Plugin.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
         <consoleLineTracker 
     		id="swgemu_core3_plugin_trackers_IDLCConsoleLineTracker"
     		class="swgemu.core3.plugin.trackers.IDLCConsoleLineTracker"
     		processType="idlc">
  		</consoleLineTracker>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.swgemu.core3.plugin.editors.IDLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="idl"
            icon="icons/sample.gif"
            id="swgemu.core3.plugin.editors.IDLEditor"
            name="SWGEmu IDL editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            id="SWGEmu Core3 Plugin.editor1"
            name="name">
      </editor>
   </extension>

</plugin>
